body {
    overflow-x: hidden;
}

.card-body {
    background-color: #CCD4F8;
}

.left-nav {
    height: 50rem;
    background-color: lightblue;
}

.right-nav {
    height: 50rem;
    background-color: lightblue;
}

.chat_log {
    width: 35rem; 
    height: 30rem;
}

.flex-column {
    width: 10rem;
}


.navbar-nav {
    background-color: #858796;
}

.nav-item {
    width: 15rem;
    text-decoration: None;
    font-size: 16px;
    display: block;
    color: black;
    text-shadow: 0.5px 0.5px grey;
    transition: .2;
    padding: 8px 8px 8px 32px;
    
}

.nav-item a {
    text-decoration: None;
    font-size: 18px;
    color: black;
    text-shadow: 0.5px 0.5px grey;
}

.nav-item a:hover {
    color: #585858;
    text-shadow: 0.5px 0.5px black;
}

h5 {
    text-decoration: None;
    font-size: 20px;
    color: black;
    text-shadow: 0.5px 0.5px white;
    transition: .2;
    padding: 8px 8px 8px 32px;
}

.chat_box {
    align-self: center;
    text-align: center;
}

.delete_a {
    text-decoration: None;
    font-size: 18px;
    font:bold;
    display: block;
    color: black;
    transition: .2;
    padding: 8px 8px 8px 32px;
}

.delete_a:hover{
    color: #585858;
    text-shadow: 0.5px 0.5px black;
}

.a_names {
    text-decoration: None;
    font-size: 15px!important;
    color: black;
    text-shadow: 0.5px 0.5px grey;
    transition: .2;
    padding: 8px 8px 8px 32px;
    text-align: right!important;
}

.a_names:hover {
    text-shadow: none!important;
}

.a_names_action {
    text-decoration: underline;
    font-size: 16px!important;
    color: black;
    text-shadow: 0.5px 0.5px grey;
    transition: .2;
}

.a_names_action:hover {
    color: #585858;
    text-shadow: 0.5px 0.5px black;
} 
