{% extends 'com_main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Groups {% endblock %}

{% block content %}
  {% include 'com_main/leftnav.html' with groups=groups %}
  <div class="d-flex justify-content-center">
    <div class="card" style="margin-top:5%">
      <div class="card-body">
        <h5 class="card-title text-center"> Click on group to communicate with your friends! :) </h5>
      </div>
    </div>
  </div>  
{% endblock %}

{% block content_unlogged %}
    <div class="card col-md-9">
        <div class="card-body">
            <p><strong> You have no access to this site... </strong></p>
            <p> Please, log in or register </p>
            <a href="{% url 'com_main:log_in' %}"><button class="btn btn-secondary"> Log in </button></a>
            <a href="{% url 'com_main:sign_up' %}"><button class="btn btn-secondary"> Sign up </button></a>
        </div>
    </div>
{% endblock %}